# Workaround the security if needed...
NODE_TLS_REJECT_UNAUTHORIZED=0


# ++++ BigCommerce ++++
BIGCOMMERCE_CANONICAL_STORE_DOMAIN="mybigcommerce.com"
BIGCOMMERCE_API_URL="https://api.bigcommerce.com"
BIGCOMMERCE_CDN_HOSTNAME="*.bigcommerce.com"

BIGCOMMERCE_STORE_HASH=
BIGCOMMERCE_CHANNEL_ID=


# Authentication
# Use a store-level API account. Scopes should include the following:
# * Storefront API Tokens : manage
# * Storefront API Customer Impersonation Tokens : manage
# * Carts : modify
# For more information, see https://developer.bigcommerce.com/api-docs/getting-started/api-accounts#oauth-scopes
BIGCOMMERCE_ACCESS_TOKEN=
# Use the preceding access token to create a customer impersonation token:
# Create a customer impersonation token (to sign customers in to a headless storefront): https://developer.bigcommerce.com/docs/storefront-auth/tokens/customer-impersonation-token
BIGCOMMERCE_CUSTOMER_IMPERSONATION_TOKEN=